.venv/
.ipynb_checkpoints/
.idea/
env/
.env
.cache
*.db
*.sqlite3
download/**
.cache_bkup
model.json
movies.sqlite
.adk/

**/.chroma_store/*

# fast api
__pycache__

*.jpg
*.jpeg
*.gif
*.png

*.txt
*.docx
*.pdf

*.mp4
*.mp3